@model Foro2.Models.FacturaViewModel

<h1>Detalles de la Factura</h1>

<p>Número de Factura: @Model.NumeroFactura</p>
<p>Fecha de Factura: @Model.FechaFactura</p>
<p>Monto Total: @Model.MontoTotal</p>
